USE [master]
GO
/****** Object:  Database [clothingshop]    Script Date: 22/11/2025 11:48:48 SA ******/
CREATE DATABASE [clothingshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'clothingshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\clothingshop.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'clothingshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\clothingshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [clothingshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [clothingshop]
GO
/****** Object:  Schema [bookmax]    Script Date: 22/11/2025 11:48:48 SA ******/
CREATE SCHEMA [bookmax]
GO
/****** Object:  UserDefinedFunction [bookmax].[enum2str$announcements$type]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [bookmax].[enum2str$announcements$type] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'MODAL'
            WHEN 2 THEN 'BAR'
            WHEN 3 THEN 'FLOAT'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [bookmax].[enum2str$orders$status]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [bookmax].[enum2str$orders$status] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'PENDING'
            WHEN 2 THEN 'CONFIRMED'
            WHEN 3 THEN 'SHIPPED'
            WHEN 4 THEN 'DELIVERED'
            WHEN 5 THEN 'CANCELED'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [bookmax].[enum2str$return_requests$status]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [bookmax].[enum2str$return_requests$status] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'APPROVED'
            WHEN 2 THEN 'CANCELLED'
            WHEN 3 THEN 'ITEM_RECEIVED'
            WHEN 4 THEN 'REFUNDED'
            WHEN 5 THEN 'REJECTED'
            WHEN 6 THEN 'REQUESTED'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [bookmax].[norm_enum$announcements$type]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [bookmax].[norm_enum$announcements$type] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN bookmax.enum2str$announcements$type(bookmax.str2enum$announcements$type(@setval))
   END
GO
/****** Object:  UserDefinedFunction [bookmax].[norm_enum$orders$status]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [bookmax].[norm_enum$orders$status] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN bookmax.enum2str$orders$status(bookmax.str2enum$orders$status(@setval))
   END
GO
/****** Object:  UserDefinedFunction [bookmax].[norm_enum$return_requests$status]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [bookmax].[norm_enum$return_requests$status] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN bookmax.enum2str$return_requests$status(bookmax.str2enum$return_requests$status(@setval))
   END
GO
/****** Object:  UserDefinedFunction [bookmax].[str2enum$announcements$type]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [bookmax].[str2enum$announcements$type] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'MODAL' THEN 1
            WHEN 'BAR' THEN 2
            WHEN 'FLOAT' THEN 3
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [bookmax].[str2enum$orders$status]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [bookmax].[str2enum$orders$status] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'PENDING' THEN 1
            WHEN 'CONFIRMED' THEN 2
            WHEN 'SHIPPED' THEN 3
            WHEN 'DELIVERED' THEN 4
            WHEN 'CANCELED' THEN 5
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [bookmax].[str2enum$return_requests$status]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [bookmax].[str2enum$return_requests$status] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'APPROVED' THEN 1
            WHEN 'CANCELLED' THEN 2
            WHEN 'ITEM_RECEIVED' THEN 3
            WHEN 'REFUNDED' THEN 4
            WHEN 'REJECTED' THEN 5
            WHEN 'REQUESTED' THEN 6
            ELSE 0
         END
   END
GO
/****** Object:  Table [dbo].[announcements]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[announcements](
	[id] [bigint] IDENTITY(5,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[image_url] [nvarchar](255) NULL,
	[link_url] [nvarchar](255) NULL,
	[type] [nvarchar](5) NOT NULL,
	[enabled] [smallint] NOT NULL,
	[dismissible] [smallint] NOT NULL,
	[start_at] [datetime2](0) NULL,
	[end_at] [datetime2](0) NULL,
	[priority] [int] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[message] [nvarchar](500) NOT NULL,
	[position] [nvarchar](20) NULL,
	[variant] [nvarchar](20) NULL,
 CONSTRAINT [PK_announcements_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [bigint] IDENTITY(41,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[brand] [nvarchar](255) NULL,
	[configuration] [nvarchar](255) NULL,
	[price] [float] NOT NULL,
	[image_url] [nvarchar](255) NULL,
	[quantity] [int] NOT NULL,
	[image1] [varbinary](max) NULL,
	[image2] [varbinary](max) NULL,
	[image3] [varbinary](max) NULL,
	[image4] [varbinary](max) NULL,
	[image5] [varbinary](max) NULL,
	[featured_index] [int] NULL,
	[category_id] [bigint] NOT NULL,
 CONSTRAINT [PK_books_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[id] [bigint] IDENTITY(19,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [nvarchar](500) NULL,
	[name] [nvarchar](100) NOT NULL,
	[updated_at] [datetime2](6) NULL,
 CONSTRAINT [PK_brand_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [brand$UKrdxh7tq2xs66r485cc8dkxt77] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(4,1) NOT NULL,
	[name] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_categories_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [categories$UKt8o6pivur7nn124jehx7cygw5] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [bigint] IDENTITY(4,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_category_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[id] [bigint] IDENTITY(69,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[content] [nvarchar](max) NOT NULL,
	[sent_at] [datetime2](0) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[recipient] [nvarchar](100) NULL,
	[recipient_id] [bigint] NULL,
	[is_read] [smallint] NOT NULL,
	[sender] [nvarchar](100) NULL,
	[sender_id] [bigint] NULL,
	[read_at] [datetime2](6) NULL,
	[sender_role] [nvarchar](20) NULL,
 CONSTRAINT [PK_chat_messages_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discounts]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discounts](
	[id] [bigint] IDENTITY(6,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[percent] [int] NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[active] [binary](1) NOT NULL,
 CONSTRAINT [PK_discounts_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [discounts$code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [discounts$UKbc29q3wh0lqhy0k84bx3afk08] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [discounts$uq_discounts_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKbc29q3wh0lqhy0k84bx3afk08] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [bigint] IDENTITY(116,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](38, 2) NULL,
	[book_id] [bigint] NOT NULL,
 CONSTRAINT [PK_order_items_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(112,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[total] [decimal](19, 2) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[status] [nvarchar](9) NOT NULL,
	[discount_id] [bigint] NULL,
	[recipient_name] [nvarchar](255) NOT NULL,
	[recipient_email] [nvarchar](255) NOT NULL,
	[recipient_address] [nvarchar](255) NULL,
	[recipient_phone] [nvarchar](255) NULL,
	[discount_code] [nvarchar](255) NULL,
	[discount_amount] [decimal](19, 2) NULL,
	[discount_percent] [int] NULL,
	[total_before_discount] [decimal](19, 2) NULL,
	[payment_method] [nvarchar](32) NULL,
	[delivered_at] [datetime2](0) NULL,
	[cancel_reason] [nvarchar](255) NULL,
	[canceled_at] [datetime2](6) NULL,
	[canceled_by] [nvarchar](32) NULL,
 CONSTRAINT [PK_orders_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[expiry_date] [datetime2](6) NULL,
	[token] [nvarchar](255) NULL,
	[user_id] [bigint] NOT NULL,
 CONSTRAINT [PK_password_reset_tokens_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [password_reset_tokens$UKla2ts67g4oh2sreayswhox1i6] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[return_requests]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[return_requests](
	[id] [bigint] IDENTITY(7,1) NOT NULL,
	[admin_note] [nvarchar](max) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[photos] [nvarchar](max) NULL,
	[processed_at] [datetime2](6) NULL,
	[reason] [nvarchar](max) NULL,
	[received_at] [datetime2](6) NULL,
	[refund_amount] [decimal](19, 2) NULL,
	[refunded_at] [datetime2](6) NULL,
	[return_items] [nvarchar](max) NULL,
	[status] [nvarchar](13) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[order_id] [bigint] NOT NULL,
 CONSTRAINT [PK_return_requests_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [bigint] IDENTITY(33,1) NOT NULL,
	[comment] [nvarchar](1000) NULL,
	[created_at] [datetime2](6) NULL,
	[rating] [int] NOT NULL,
	[laptop_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[order_id] [bigint] NULL,
	[book_id] [bigint] NOT NULL,
 CONSTRAINT [PK_reviews_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 22/11/2025 11:48:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(47,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](100) NOT NULL,
	[role] [nvarchar](30) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[phone] [nvarchar](30) NULL,
	[avatar_url] [nvarchar](512) NULL,
	[created_at] [datetime2](6) NULL,
	[email_verified] [bit] NULL,
	[enabled] [bit] NULL,
	[failed_login_attempts] [int] NOT NULL,
	[locked] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
 CONSTRAINT [PK_users_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users$uk_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users$uk_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users$UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users$UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users$uq_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users$uq_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users$username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_ann_active]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_ann_active] ON [dbo].[announcements]
(
	[enabled] ASC,
	[start_at] ASC,
	[end_at] ASC,
	[priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_laptops_brand]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_laptops_brand] ON [dbo].[books]
(
	[brand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_laptops_category_id]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_laptops_category_id] ON [dbo].[books]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_laptops_featured]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_laptops_featured] ON [dbo].[books]
(
	[featured_index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_laptops_name]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_laptops_name] ON [dbo].[books]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_chat_recipient]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_chat_recipient] ON [dbo].[chat_messages]
(
	[recipient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chat_recipient_id]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_chat_recipient_id] ON [dbo].[chat_messages]
(
	[recipient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chat_rs_sas]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_chat_rs_sas] ON [dbo].[chat_messages]
(
	[recipient_id] ASC,
	[sender_id] ASC,
	[sent_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_chat_sender]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_chat_sender] ON [dbo].[chat_messages]
(
	[sender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chat_sender_id]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_chat_sender_id] ON [dbo].[chat_messages]
(
	[sender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chat_sent_at]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_chat_sent_at] ON [dbo].[chat_messages]
(
	[sent_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chat_sr_sas]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_chat_sr_sas] ON [dbo].[chat_messages]
(
	[sender_id] ASC,
	[recipient_id] ASC,
	[sent_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_chat_unread]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_chat_unread] ON [dbo].[chat_messages]
(
	[recipient_id] ASC,
	[is_read] ASC,
	[sent_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_discounts_active]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_discounts_active] ON [dbo].[discounts]
(
	[active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_discounts_dates]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_discounts_dates] ON [dbo].[discounts]
(
	[start_date] ASC,
	[end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FKi4ptndslo2pyfp9r1x0eulh9g]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [FKi4ptndslo2pyfp9r1x0eulh9g] ON [dbo].[order_items]
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_items_order]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_items_order] ON [dbo].[order_items]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_created]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_orders_created] ON [dbo].[orders]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_customer]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_orders_customer] ON [dbo].[orders]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_orders_discount_code]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_orders_discount_code] ON [dbo].[orders]
(
	[discount_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_discount_id]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_orders_discount_id] ON [dbo].[orders]
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_orders_status]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_orders_status] ON [dbo].[orders]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reset_user]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_reset_user] ON [dbo].[password_reset_tokens]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FKbski88d6kewx0cbj5pk7nes01]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [FKbski88d6kewx0cbj5pk7nes01] ON [dbo].[return_requests]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FKj8p930ntqh3nxl7jtc1xoxwy9]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [FKj8p930ntqh3nxl7jtc1xoxwy9] ON [dbo].[return_requests]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK6a9k6xvev80se5rreqvuqr7f9]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [FK6a9k6xvev80se5rreqvuqr7f9] ON [dbo].[reviews]
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reviews_laptop]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_reviews_laptop] ON [dbo].[reviews]
(
	[laptop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reviews_user]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_reviews_user] ON [dbo].[reviews]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_users_created_at]    Script Date: 22/11/2025 11:48:49 SA ******/
CREATE NONCLUSTERED INDEX [idx_users_created_at] ON [dbo].[users]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT (NULL) FOR [title]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT (NULL) FOR [image_url]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT (NULL) FOR [link_url]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT (N'MODAL') FOR [type]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT ((0)) FOR [enabled]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT ((1)) FOR [dismissible]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT (NULL) FOR [start_at]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT (NULL) FOR [end_at]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT ((0)) FOR [priority]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT (NULL) FOR [position]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT (NULL) FOR [variant]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (NULL) FOR [brand]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (NULL) FOR [configuration]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (NULL) FOR [image_url]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (NULL) FOR [featured_index]
GO
ALTER TABLE [dbo].[brand] ADD  DEFAULT (NULL) FOR [description]
GO
ALTER TABLE [dbo].[brand] ADD  DEFAULT (NULL) FOR [updated_at]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (NULL) FOR [username]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (N'USER') FOR [role]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (NULL) FOR [recipient]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (NULL) FOR [recipient_id]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (NULL) FOR [sender]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (NULL) FOR [sender_id]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (NULL) FOR [read_at]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (NULL) FOR [sender_role]
GO
ALTER TABLE [dbo].[discounts] ADD  DEFAULT (NULL) FOR [start_date]
GO
ALTER TABLE [dbo].[discounts] ADD  DEFAULT (NULL) FOR [end_date]
GO
ALTER TABLE [dbo].[discounts] ADD  DEFAULT (0x01) FOR [active]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT (NULL) FOR [unit_price]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'PENDING') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [discount_id]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [recipient_address]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [recipient_phone]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [discount_code]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [discount_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [discount_percent]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [total_before_discount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [payment_method]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [delivered_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [cancel_reason]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [canceled_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [canceled_by]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (NULL) FOR [expiry_date]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (NULL) FOR [token]
GO
ALTER TABLE [dbo].[return_requests] ADD  DEFAULT (NULL) FOR [processed_at]
GO
ALTER TABLE [dbo].[return_requests] ADD  DEFAULT (NULL) FOR [received_at]
GO
ALTER TABLE [dbo].[return_requests] ADD  DEFAULT (NULL) FOR [refund_amount]
GO
ALTER TABLE [dbo].[return_requests] ADD  DEFAULT (NULL) FOR [refunded_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (NULL) FOR [comment]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (NULL) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (NULL) FOR [laptop_id]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (NULL) FOR [user_id]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (NULL) FOR [order_id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [username]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [full_name]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [phone]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [avatar_url]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [updated_at]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [books$fk_laptops_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [books$fk_laptops_category]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [order_items$FKbioxgbv59vetrxe0ejfubep1w] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [order_items$FKbioxgbv59vetrxe0ejfubep1w]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [order_items$FKi4ptndslo2pyfp9r1x0eulh9g] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [order_items$FKi4ptndslo2pyfp9r1x0eulh9g]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [orders$FKsjfs85qf6vmcurlx43cnc16gy] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [orders$FKsjfs85qf6vmcurlx43cnc16gy]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [password_reset_tokens$FKk3ndxg5xp6v7wd4gjyusp15gq] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [password_reset_tokens$FKk3ndxg5xp6v7wd4gjyusp15gq]
GO
ALTER TABLE [dbo].[return_requests]  WITH CHECK ADD  CONSTRAINT [return_requests$FKbski88d6kewx0cbj5pk7nes01] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[return_requests] CHECK CONSTRAINT [return_requests$FKbski88d6kewx0cbj5pk7nes01]
GO
ALTER TABLE [dbo].[return_requests]  WITH CHECK ADD  CONSTRAINT [return_requests$FKj8p930ntqh3nxl7jtc1xoxwy9] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[return_requests] CHECK CONSTRAINT [return_requests$FKj8p930ntqh3nxl7jtc1xoxwy9]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [reviews$FK6a9k6xvev80se5rreqvuqr7f9] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [reviews$FK6a9k6xvev80se5rreqvuqr7f9]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [reviews$FKcgy7qjc1r99dp117y9en6lxye] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [reviews$FKcgy7qjc1r99dp117y9en6lxye]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [reviews$FKnvdqhvj69u2ys2qghv9ds989o] FOREIGN KEY([laptop_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [reviews$FKnvdqhvj69u2ys2qghv9ds989o]
GO
ALTER TABLE [dbo].[announcements]  WITH CHECK ADD  CONSTRAINT [CK_announcements_type_enum] CHECK  (([type]='FLOAT' OR [type]='BAR' OR [type]='MODAL'))
GO
ALTER TABLE [dbo].[announcements] CHECK CONSTRAINT [CK_announcements_type_enum]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_status_enum] CHECK  (([status]='CANCELED' OR [status]='DELIVERED' OR [status]='SHIPPED' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_status_enum]
GO
ALTER TABLE [dbo].[return_requests]  WITH CHECK ADD  CONSTRAINT [CK_return_requests_status_enum] CHECK  (([status]='REQUESTED' OR [status]='REJECTED' OR [status]='REFUNDED' OR [status]='ITEM_RECEIVED' OR [status]='CANCELLED' OR [status]='APPROVED'))
GO
ALTER TABLE [dbo].[return_requests] CHECK CONSTRAINT [CK_return_requests_status_enum]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.announcements' , @level0type=N'SCHEMA',@level0name=N'bookmax', @level1type=N'FUNCTION',@level1name=N'enum2str$announcements$type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.orders' , @level0type=N'SCHEMA',@level0name=N'bookmax', @level1type=N'FUNCTION',@level1name=N'enum2str$orders$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.return_requests' , @level0type=N'SCHEMA',@level0name=N'bookmax', @level1type=N'FUNCTION',@level1name=N'enum2str$return_requests$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.announcements' , @level0type=N'SCHEMA',@level0name=N'bookmax', @level1type=N'FUNCTION',@level1name=N'norm_enum$announcements$type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.orders' , @level0type=N'SCHEMA',@level0name=N'bookmax', @level1type=N'FUNCTION',@level1name=N'norm_enum$orders$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.return_requests' , @level0type=N'SCHEMA',@level0name=N'bookmax', @level1type=N'FUNCTION',@level1name=N'norm_enum$return_requests$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.announcements' , @level0type=N'SCHEMA',@level0name=N'bookmax', @level1type=N'FUNCTION',@level1name=N'str2enum$announcements$type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.orders' , @level0type=N'SCHEMA',@level0name=N'bookmax', @level1type=N'FUNCTION',@level1name=N'str2enum$orders$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.return_requests' , @level0type=N'SCHEMA',@level0name=N'bookmax', @level1type=N'FUNCTION',@level1name=N'str2enum$return_requests$status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.announcements' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'announcements'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.books' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'books'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.brand' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'brand'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.categories' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'categories'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.category' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'category'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.chat_messages' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'chat_messages'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.discounts' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'discounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.order_items' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'order_items'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.orders' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'orders'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.password_reset_tokens' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'password_reset_tokens'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.return_requests' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'return_requests'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.reviews' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'reviews'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'bookmax.users' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'users'
GO
USE [master]
GO

/*USE [clothingshop]
GO

-- 1. Xóa dữ liệu khỏi bảng con (books) trước để thỏa mãn Khóa Ngoại
DELETE FROM dbo.books;

-- 2. Xóa dữ liệu khỏi bảng cha (categories)
DELETE FROM dbo.categories;

-- 3. Reset IDENTITY của bảng categories về 3 (giá trị IDENTITY tiếp theo sẽ là 4)
-- Nếu lệnh này báo lỗi (Msg 2585), bạn cứ bỏ qua.
DBCC CHECKIDENT ('dbo.categories', RESEED, 3);
GO
*/

USE [clothingshop]
GO

-- 1. KHAI BÁO BIẾN, CHÈN DANH MỤC VÀ GÁN ID (CÙNG KHỐI LỆNH)
DECLARE @SachBanChayId BIGINT;
DECLARE @SachKyNangId BIGINT;
DECLARE @SachTreEmId BIGINT;

-- Chèn 3 danh mục và gán ID thực tế vừa được tạo vào biến 
INSERT INTO dbo.categories (name) VALUES (N'Sách bán chạy');
SET @SachBanChayId = SCOPE_IDENTITY(); 

INSERT INTO dbo.categories (name) VALUES (N'Sách kỹ năng');
SET @SachKyNangId = SCOPE_IDENTITY(); 

INSERT INTO dbo.categories (name) VALUES (N'Sách trẻ em');
SET @SachTreEmId = SCOPE_IDENTITY(); 


-- 2. CHÈN DỮ LIỆU VÀO BẢNG SẢN PHẨM (books) DÙNG CÁC BIẾN

-- Sách bán chạy (category_id = @SachBanChayId)

-- Sách kỹ năng (category_id = @SachKyNangId)

-- Sách trẻ em (category_id = @SachTreEmId)
GO